.customFont {
    font-family: 'Raleway', sans-serif;
}

.btn-light-rounded {
    background-color: white;
    color: #3385ff;
    border-radius: 25px;
    border: 2px solid #3385ff;
    padding: 8px 30px;
}

.btn-light-rounded:hover {
    background-color: #3385ff;
    color: white;
}

.btn-light-invert-rounded {
    background-color: #198754;
    color: white;
    border-radius: 25px;
    border: 2px solid #198754;
    padding: 8px 30px;
}

.btn-light-invert-rounded:hover {
    background-color: #3385ff;
    border: 2px solid #3385ff;
}


.card{
    border: none;
}

.card-flex{
    display: flex;
    float: left;
    margin: 60px 5px 5px;
    width: 24%;
    height: 200px;
}

.card-flex:hover{
    background-color: #f6f6f5;
    box-shadow: 10px 10px 20px #3385ff;;
}

.card-title{
    color: orange;
}
.card-icon{
    height: 20px;
    width: 20px;
}

.card-btn{
    color: #3385ff;
}


.testimonials-item{
    padding: 30px;
    margin: 20px;
}

.testimonials-heading {
    color: #3385ff;
    border-bottom: 3px solid #3385ff;
}

.testimonials-link{
    text-decoration: none;
    color: black;
}
.testimonials-link:hover{
    color: #3385ff;
    font-weight: bold;
}
.testimonials-link::after{
    font-weight: bold;
    color: black;
}

.carousel_image {
    height: 500px;
    width: 500px;
}

.floating-card-doctor {
    border: 2px solid #198754;
    cursor: pointer;
    width: 260px;
    height: 135px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.floating-card-experience {
    border: 1px solid #3385ff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 32%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.floating-card-medical {
    border: 1px solid #198754;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 270px;
    height: 50px;
    position: absolute;
    top: 55%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card-icon{
    width: 30px;
    height: 30px;
}
.card-link {
    text-decoration: none;
    color: seagreen;
}

.card-our-service {
    height: 260px;
    border-radius: 20px;
    border: 2px solid #3385ff;
}


.card-link:hover{
    color: #3385ff;
}
