.customFont {
    font-family: 'Raleway', sans-serif;
}

.btn-light-rounded {
    background-color: white;
    color: #3385ff;
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
}

.btn-light-rounded:hover {
    background-color: #3385ff;
    color: white;
}

.service{
    font-size: 20px;
    width: 115px;
    color: #3385ff;
    margin-left: 40%;
    border-bottom: 2px solid #3385ff;
}

.service-heading{
    text-align: center;
    font-size: 45px;
}
.card{
    border: none;

}

.card-flex{
    display: flex;
    float: left;
    margin: 5px;
    margin-top: 60px;
    width: 250px;
    height: 250px;
}

.card-flex:hover{
    background-color: #f5f5f6;
    box-shadow: 10px 10px 20px #3385ff;;
}


.card-title{
    color: orange;
}
.card-icon{
    height: 20px;
    width: 20px;
}

.card-btn{
    color: #3385ff;
}

